
// Variables
@import "variables";

.img-theme-preview {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    
    &:hover {
        background-color:rgba(0, 0, 0, 0.5);
        -webkit-transition: all .5s;
        transition: all .5s;
        }
    }